/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #050d26;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
}

/* Main structure */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* Section styling */
main header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  width: 100%;
}

main header form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

/* Label styling */
main header form label {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

/* Form input and button styling */
main header form div {
  display: flex;
  gap: 6px;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  font-size: 14px;
  order: 2;
}

.add {
  background-color: #2173a6;
  padding: 10px;
  text-align: center;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  width: 129px;
  color: #fff;
  order: 1;
}

.ul-list {
  display: flex;
  flex-direction: column;
  gap: px;
  background-color: #fff;
  width: 100%;
}

.ul-list li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.operation-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.operation-container figure {
  display: flex;
  gap: 8px;
}

.operation-container figure i {
  font-size: 28px;
}

.operation-container figure .save {
  color: #28a745;
}

.operation-container figure .edit {
  color: #2196f3;
}

.operation-container figure .complete {
  color: #ffd700;
}

.operation-container figure .delete {
  color: #f44336;
}

.operation-container figure figcaption {
  color: #000;
  font-size: 16px;
  font-family: Roboto;
}

/* Media queries */
@media only screen and (max-width: 767px) {
  main header,
  main header figure,
  main header figure img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  main,
  main header {
    width: 612px;
  }
  main header figure,
  main header figure img {
    width: 338px;
  }
}

@media only screen and (min-width: 1000px) {
  main,
  main header {
    width: 812px;
  }

  .add {
    transition: all ease-in 300ms;
  }

  .add:hover {
    background-color: #bf5d54;
  }
}
